/* Made with <3 in Germany */

$bullgitBlue: #1393d5;

$gray: #aaa;
$darkGray: #888;
$lightGray: #ccc;

$font: Arial, sans-serif;
$tinyText: 9pt;
$smallText: 12pt;
$text: 16pt;
$largeText: 21pt;
$hugeText: 37pt;

body {
  margin: 4%;
  padding: 0;
  color: #000;
  font-family: $font;
  font-size: $text;
  text-align: center;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0 0 20px 0;
  font-size: $hugeText;
}

h2 {
  margin: 0;
  color: $darkGray;
  font-size: $largeText;

  span {
    color: $gray;
    text-decoration: line-through;
  }

  a {
    color: $darkGray;

    &:hover {
      color: $darkGray;
    }
  }
}

section {
  margin: 60px 0 60px 0;

  hr {
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, $gray 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, $gray 50%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, $gray 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, $gray 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, $gray 50%, rgba(255,255,255,0) 100%);
    border: none;
  }

  p {
    color: $darkGray;
    font-size: $smallText;
  }
}

a {
  color: $bullgitBlue;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.copyright {
  color: $gray;
  font-size: $smallText;

  a {
    color: $gray;

    &:hover {
      color: $darkGray;
    }
  }
}
